.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background:url("./background-event.jpg");
}
form {
  max-width: 600px;
  width: 100%;
  background: #c5b7a67c;
  padding: 25px 25px 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #333;
  margin: 25px;

}

form h2 {
  font-size: 30px;
  text-align: center;
  color:var(
    --color-white)
}

form .inputBox {
  margin-top: 20px;
}

.inputBox .field {
  width: 100%;
  height: 50px;
  background: transparent;
  border:none;
  outline: none;
  border-radius: 6px;
  padding: 15px;
  font-size: 16px;
  color: var(--color-dark-grey);
  margin-top: 8px;
  border-bottom: 1px solid #FFFFFF;

}
input::placeholder,textarea::placeholder{
  color: var(--color-black);
}

.inputBox .field .mess {
  height: 200px;
  resize: none;
}

form button {
  width: 100%;
  height: 55px;
  background: var(--color-orange);
  border: none;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  margin-top: 25px;
}
form button:hover{
  background: var(--color-light-orange);
  transition: all .4s;
}
