/* src/WeeklyCalendar.css */
.eventSection {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var( --color-light-grey);
}
.eventSection h2 {
  font-size: 3rem;
  margin-bottom: 4rem;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;

}
/* src/WeeklyCalendar.module.css */

.calendarContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  width: 60%;
}

.daysMenu {
  display: flex;
  justify-content: space-around;
  width: 100%;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}

.dayButton {
  padding: 10px 20px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #333;
  position: relative;
}

.dayButton.active {
  color: orange;
  font-weight: bold;
}

.dayButton.active::after {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  background: orange;
  border-radius: 50%;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.calendar {
  width: 80%;
}

.dayColumn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.dayColumn h2 {
  margin-bottom: 20px;
  font-size: 24px;
  border-bottom: 2px solid orange;
  padding-bottom: 10px;
}

.session {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 15px;
  border-bottom: 1px solid #eee;
}

.session h3 {
  margin: 0;
  font-size: 18px;
}

.session p {
  margin: 5px 0;
}

.instructor {
  display: flex;
  align-items: center;
}

.instructorIcon {
  width: 30px;
  height: 30px;
  background: url("https://via.placeholder.com/30") no-repeat center center;
  background-size: cover;
  border-radius: 50%;
  margin-right: 10px;
}
