/* hero section(1) */
.homepage .hero {
  height: 100vh;
  background-image: linear-gradient(
      rgba(36, 42, 46, 0.5),
      rgba(36, 42, 46, 0.5)
    ),
    url("../background.jpg");
  background-size: cover;
  background-position: top;
}
.homepage .titlesContainer {
  display: flex;
  flex-direction: column;
  height: 85%;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  text-align: center;
}
.homepage h1 {
  font-family: "Poiret One", sans-serif;
  font-weight: 400;
  font-size: 20rem;
  color: var(--coyote-brown);
}
.homepage .title3 {
  font-family: "Poiret One", sans-serif;
  font-weight: bold;
  color: var(--heading-isabelline);
  font-size: 4rem;
}

/* introduction section(2nd) */

.introduction {
  background-color: var(--heading-isabelline);
  padding-top: 6rem;
  padding-left: 6rem;
  padding-right: 6rem;
}
.introduction .textContainer {
  max-width: 30%;
}
.textContainer .title {
  color: var(--coyote-brown);
  font-family: "Abhaya Libre", serif;
  font-weight: 400;
  font-size: 5rem;
}
.textContainer p {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-size: 1.7rem;
  padding-top: 1rem;
  margin-top: 1rem;
  color: var(--text-lion-brown-color);
}

