/* hero section(1) */
.homepage .hero {
  height: 100vh;
  background-image: linear-gradient(
      rgba(36, 42, 46, 0.5),
      rgba(36, 42, 46, 0.5)
    ),
    url("../background.jpg");
  background-size: cover;
  background-position: top;
}
.homepage .titlesContainer {
  display: flex;
  flex-direction: column;
  height: 85%;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  text-align: center;
}
.homepage h1 {
  font-family: "Poiret One", sans-serif;
  font-weight: 400;
  font-size: 20rem;
  color: var(--color-white);
}
.homepage .title3 {
  font-family: "Poiret One", sans-serif;
  font-weight: bold;
  color: var(--color-light-orange);
  font-size: 4rem;
}



