.banner {

  padding: 2rem 6rem;
}

.cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  text-align: center;
  padding: 1rem;
  width: 30rem;
}

.icon {
  border-radius: 50%;
  color: var(--color-white);
  font-weight: lighter;
  padding: 1rem;
  width: 10rem;
  height: 10rem;
  background-color: var(--color-light-orange);
}

.card .title {
  font-size: 2.4rem;
  color: var( --color-black);
  margin-top: 2rem;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.card .description {
  font-family: "Abhaya Libre", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.8rem;
  line-height: 2.2rem;
  margin-top: 1.6rem;
  color: var( --color-black);
}

@media screen and (max-width: 700px) {
  .cards {

justify-content: center;

  }
  .card {
    margin-top: 1rem;
    width: 30rem;
  }

}