footer {
    background-color: var(--sage-light-green);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 6rem;
  height: 16rem;
}


.bloc1 div, .bloc3 div{
 display: flex;
 align-items: center;
}
.bloc1 div .icon, .bloc3 div .icon{
margin-right: rem;
 }

.bloc1,
.bloc2,
.bloc3 {

  display: flex;
  flex-direction: column;
  padding: 1rem;
}


.bloc1,
.bloc3 {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.6rem;
  color: var(--coyote-brown);
}
.bloc1 span,.bloc2 span,
.bloc3 span {
  padding: .5rem;
}

.bloc2 h2 {
  font-family: "Poiret One", sans-serif;
  font-weight: bold;
  font-size: 4rem;
  color: var(--text-lion-brown-color);
}

.bloc2 span {
  text-align: center;
  color: var(--text-lion-brown-color);
}


@media (max-width: 700px) {
footer{
  height: 100%;
}
.bloc{
  width: 100%;



}
.bloc1 div, .bloc3 div{
  width: 80%;
 margin: 0 auto;

 }
 .bloc2{
  width: 80%;
  margin: 0 auto;

 }
 .bloc2 span{
text-align: center;
 }
}