/* gallery section */

.gallery {
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: var(--heading-isabelline);
}
.gallery .galleryContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  max-width: 90rem;
  margin: 0 auto;
  padding-top: 20rem;
  padding-bottom: 20rem;
}

.galleryContainer div {
  border: 2px solid var(--sage-light-green);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}

.gallery .image {
  width: 30rem;
  height: 30rem;
  object-fit: cover;
}

@media (max-width: 430px) {
  .gallery .galleryContainer {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 800px) {
  .gallery .galleryContainer {
    grid-template-columns: 1fr 1fr;
  }
}
