.section {
  padding: 6rem;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  background-color: var(--sage-light-green);
}

.textBloc {
  width: 80%;
  margin: 6rem auto;
}

.textBloc .title {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-size: 5rem;
  padding-top: 4rem;
}

.textBloc .text {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.8rem;
  color: black;
  padding-top: 4rem;
  padding-bottom: 4rem;
  line-height: 3rem;
}

.blocsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 80%;
  margin: 0 auto;
}

.blocsContainer .bloc {
  width: 45rem;
  height: 40rem;
  background-color: var(--heading-isabelline);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
}

.bloc .icon {
  width: 6rem;
  height: 6rem;
}

.bloc .title3 {
  font-family: "Abhaya Libre", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.6rem;
  text-transform: uppercase;
  margin-top: 2rem;
}

.bloc .text {
  padding: 1rem;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.6rem;
  color: black;
  line-height: 3rem;
  margin-bottom: 1rem;
}
@media (max-width: 700px) {
  .blocsContainer .bloc {
    margin: 1rem auto;
  }
}

@media (min-width: 700px) {
  .blocsContainer .bloc {
    width: 40rem;
    height: 35rem;
  }
}
