.logo {
  font-size: 2rem;
  font-family: "Poiret One", sans-serif;
  font-weight: 400;
  text-align: center;
 
  color: var(--sage-light-green);
}

.logo h2 {
  font-size: 5rem;
  letter-spacing: 0.3rem;
}
.logo span {
  letter-spacing: 0.5rem;
  font-weight: bold;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  color: var(--heading-isabelline);
}

