/* .navbar {
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.navbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7rem;
  width: 100%;
  border: 1px solid red;
  padding: 0 6rem;
} */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10rem; 
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 6rem;
  z-index: 1000; 
  border: 1px solid black;
}

.navbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.menuIcon {
  display: none;
  cursor: pointer;
}

.navMenu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
  margin: 0;
}

.navItem {
  height: 60px;
}

.navLinks {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 1.8rem;
}
.active {
  color: red; /* ou un autre style pour indiquer l'élément actif */
}

@media screen and (max-width: 700px) {
  .navbar{

    width: 80%;
    right: initial;
    
  }
  .navbarContainer {
    width: 80%;
    justify-content: space-between;
    align-items: center;
   
   
  }

  .menuIcon {
    display: block;
    color: #fff;
    border: 1px solid black;
  }

  .navMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 8rem;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
    background: var(--coyote-brown);
  }

  .navMenu.active {
    left: 0;
  }

  .navItem {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .navLinks {
    padding: 2rem;
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }
}
