.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10rem;
  color: #fff;
  display: flex;
  justify-content: space-between;

  padding: 0 6rem;
  z-index: 1000;
  transition: background-color 0.3s ease;
}
.navbar.scrolled {
  background-color: var(
    --coyote-brown
  ); /* Couleur de fond lorsque l'on scroll */
}

.navbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.menuIcon {
  display: none;
  cursor: pointer;
}

.navMenu {
  width: 50rem;
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: flex-end;
  list-style: none;
  text-align: center;
  margin: 0;
}

.navItem {
  height: 60px;
}

.navLinks {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #fff;
  text-decoration: none;
  font-size: 1.8rem;
}
.navLinks:hover {
  color: var(--color-cadete-gray);
}
.active {
  color: red; /* ou un autre style pour indiquer l'élément actif */
}
.buttonCTA {
  padding: 1rem 3rem;
  background-color: var(--text-lion-brown-color);
}
@media screen and (max-width: 700px) {
  .navbarContainer {
    justify-content: space-between;
    align-items: center;
  }

  .menuIcon {
    display: block;
    color: #fff;
  }

  .navMenu {
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10rem;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
    background: var(--coyote-brown);
  }
  .navMenu .navItem {
    width: 100%;
    align-content: center;
    margin: 1rem;
  }

  .navMenu.active {
    left: 0;
  }

  .navLinks {
    text-align: center;
    margin: 0 auto;
  }
}
